# Node modules
node_modules

# .env files
.env.*

# Log files
*.log

# Filesystem descriptors
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*


# Dart Boilerplate ignores
*.o
*.dylib
a.out
.vscode/
.packages
sdk-version
*snapshot*
pubspec.lock
.dart_tool

# Windows
*.obj
*.dll
*.lib
*.exe
*.exp

# jetbrains products
.idea/

# CMake Build dir
lib/ffi/build

# macOS Junk
.DS_Store

# Other stuff
libopenmpt-*
libopenmpt/   # Where we put our compiled libraries
libportaudio/ # Where we put our compiled libraries
portaudio/